@font-face {
    font-family: "Charlemagne";
    src: url('/fonts/Charlemagne.ttf') format('truetype');
}

[data-font="font_charlemagne"] {
    font-size: 1.3em;
    font-family: Charlemagne, Arial, sans-serif;
}