@font-face {
    font-family: "ReturnofGanon";
    src: url('/fonts/ReturnofGanon.ttf') format('truetype');
}

[data-font="font_returnofganon"] {
    font-size: 1.6em;
    font-family: ReturnofGanon, Arial, sans-serif;
}