@font-face {
    font-family: "Triforce";
    src: url('/fonts/Triforce.ttf') format('truetype');
}

[data-font="font_triforce"] {
    font-size: 1.5em;
    font-family: Triforce, Arial, sans-serif;
}