/* import used font definitions */

@import "./fonts/AncientHylian.css";
@import "./fonts/Charlemagne.css";
@import "./fonts/Ravenna.css";
@import "./fonts/ReturnofGanon.css";
@import "./fonts/Sheikah.css";
@import "./fonts/Triforce.css";
@import "./fonts/ZeldaDX.css";

/* set initial font size */
:root {
    font-size: 14px;
}

[data-font="font_default"] {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}