:root {
    --page-background-color: #000000;
    --page-text-color: #ffffff;
    --page-border-color: #795b20 #c99836 #d4ad5e #a17a2b;
    --page-border-color-inverted: #d4ad5e #a17a2b #795b20 #c99836;

    --navigation-background-color: #cb9c3d;
    --navigation-text-color: #000000;

    --scrollbar-track-color: #000000;
    --scrollbar-thumb-color: #cb9c3d;
    --scrollbar-thumb-color-hover: #d4ad5e;

    --edit-background-color: #222222;
    --edit-text-color: #ffffff;

    --main-hover-color: #cb9c3d32;

    --contextmenu-background: #000000;
    --contextmenu-text: #cb9c3d;
    --contextmenu-border: #cb9c3d;
    --contextmenu-background-hover: #cb9c3d32;
    --contextmenu-text-hover: #cb9c3d;

    --location-status-opened-color: #777777;
    --location-status-available-color: #00ff00;
    --location-status-unavailable-color: #ff0000;
    --location-status-possible-color: #ffff00;
}
/*
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, #000000);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #ffffff);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hover, #aaaaaa);
}
*/